@scope (.editor-page) {
  :scope {
    display: grid;
    grid-template-areas:
      ". . ."
      "leftside controls save"
      "leftside editor rightside"
      "leftside . .";
    grid-template-columns: 1fr 2.5fr minmax(220px, 1fr);
    grid-template-rows: 0 auto 1fr;
    gap: 1rem;
    height: 100svh;
    padding-inline: 1rem;
  }

  .search-area {
    grid-area: search;
  }

  .controls-area {
    grid-area: controls;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
  }

  .save-area {
    grid-area: save;
  }

  .leftside-area {
    grid-area: leftside;
    overflow-y: auto;
  }

  .editor-area {
    grid-area: editor;
  }

  .rightside-area {
    grid-area: rightside;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
  }
}
