@scope (.editor-page) {
  :scope {
    display: grid;
    grid-template-areas:
      "leftside controls save"
      "leftside editor rightside";
    grid-template-columns: 1fr 2.5fr minmax(220px, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
    height: 100svh;
    padding: 1rem;
    padding-block-end: 0;
  }

  .search-area {
    grid-area: search;
  }

  .controls-area {
    grid-area: controls;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
  }

  .save-area {
    grid-area: save;
  }

  .leftside-area {
    grid-area: leftside;
    overflow-y: auto;
  }

  .editor-area {
    grid-area: editor;
    margin-block-end: 1rem;
  }

  .rightside-area {
    grid-area: rightside;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
    padding-block-end: 1rem;
  }
}
