.card_body {
  display: grid;
  gap: 0.25rem;
  padding: 1rem;
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-default);
}

.card_title {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 500;
}

.card_subtitle {
  font-size: 0.85rem;
  margin: 0;
  color: #295f98;
  font-weight: 500;
}

.card_content {
  font-size: 0.85rem;
  padding: 0;
  padding-block-start: 0.5rem;
}
