.card_body {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-default);
  position: relative;
  cursor: grab;
  z-index: 2; /** drag時にスクロールバーが乗るのを防ぐ */
  background-color: white;
}

.card_title {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 500;
}

.card_subtitle {
  font-size: 0.85rem;
  margin: 0;
  color: var(--mantine-color-magenta-5);
  font-weight: 500;
}

.card_content {
  font-size: 0.85rem;
  padding: 0;
}

.card_icon {
  display: flex;
  height: fit-content;
  color: var(--mantine-color-gray-5);
  position: absolute;
  top: 0.5rem;
  right: 0.25rem;
}
