.list {
  --skew-deg: 15deg;

  list-style: none;
  display: flex;
  align-items: end;
  margin: 0;
  padding: 0;
}

.list_item {
  transform: skew(calc(var(--skew-deg) * -1));
  padding: 0 8px;
  font-size: 0.75rem;
  border-inline-end: 1px solid lightslategray;
  height: fit-content;
}

.item_inner {
  display: flex;
  align-items: center;
  gap: 2px;
  transform: skew(var(--skew-deg));
}

.item_inner svg {
  stroke: oklch(from lightslategray calc(l - 0.05) c h);
}

.item_title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
