@import "./styles/_variables.scss";
@import "./styles/_keyframe-animations.scss";

body {
  margin-block: 3rem;
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: 60rem;
}

.tiptap {
  border: 1px solid #e4edf4;
  border-radius: 4px;
  padding: 1rem;

  :first-child {
    margin-block-start: 0;
  }

  :last-child {
    margin-block-end: 0;
  }
}
