.entry_link {
  padding: 2px;
  border-radius: 4px;
  width: 100%;
}

.file_link {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.highlight_active {
  background-color: var(--mantine-color-magenta-0);
}
