.entry_link {
  display: flex;
  padding: 2px 4px;
  border-radius: 4px;
  width: 100%;
}

.entry_link svg {
  --icon-color: var(--mantine-color-gray-6);
  stroke: var(--icon-color);
}

.file_link {
  text-decoration: none;
  color: inherit;
}

.folder_link svg {
  stroke: none;
  fill: var(--icon-color);
}

.highlight_active {
  --bg: var(--mantine-color-pale-indigo-0);
  background-color: var(--bg);
  color: oklch(from var(--bg) calc(l - 0.6) c h);
}
