.toolbar {
  padding: 0.6rem;
  border-radius: 0.5rem;
  max-width: fit-content;
  max-height: fit-content;
  margin-inline: auto;
  gap: 0.6rem;
  z-index: 100;
  bottom: 0;
  border: 1px solid var(--mantine-color-indigo-1);
  justify-content: center;

  --bg: var(--mantine-color-indigo-0);
  background-color: rgb(from var(--bg) r g b / 85%);
  backdrop-filter: blur(2px);
}
